<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="archive__item-title" itemprop="headline">
    {% if post.paper %}
      <a href="{{ post.paper }}" rel="permalink">{{ post.title }}</a>
    {% else %}
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    {% endif %}
  </h3>

  {% if post.tldr %}
    <p><strong>TLDR:</strong> {{ post.tldr }}</p>
  {% endif %}

  {% if post.authors_before or post.author or post.authors_after %}
    <p class="archive__item-excerpt">
      {{ post.authors_before }}{% if post.author %} {{ post.author }}{% endif %}{{ post.authors_after }}
    </p>
  {% endif %}

  {% if post.venue %}
    <p class="archive__item-venue">{{ post.venue }}</p>
  {% endif %}

  <p>
    {% if post.paper %}
      <a href="{{ post.paper }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i> Paper</a>
    {% endif %}
    {% if post.code %}
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i> Code</a>
    {% endif %}
    {% if post.video %}
      <a href="{{ post.video }}"><i class="fas fa-fw fa-video" aria-hidden="true"></i> Video</a>
    {% endif %}
    {% if post.link %}
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link</a>
    {% endif %}
  </p>
</article>
